.perfil-container{
    max-width:900px;
    margin:auto;
    padding:30px;
}

.perfil-card{
    display:flex;
    gap:30px;
    align-items:center;
    background:#1e1e1e;
    padding:20px;
    border-radius:10px;
    flex-wrap: wrap; /* clave para responsive */
}

.perfil-avatar img{
    width:120px;
    height:120px;
    border-radius:50%;
    border:3px solid #444;
}

.perfil-info{
    font-size:18px;
}

.perfil-stats{
    margin-top:30px;
}

.stats-grid{
    display:flex;
    gap:20px;
}

.stat-box{
    flex:1;
    background:#222;
    padding:20px;
    text-align:center;
    border-radius:10px;
}

.stat-box span{
    font-size:26px;
    font-weight:bold;
}

.perfil-games{
    margin-top:30px;
}

.games-links{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.game-link{
    background:#2a2a2a;
    padding:12px 20px;
    border-radius:8px;
    text-decoration:none;
    color:white;
}

.avatar-selector{
    display:grid;
    grid-template-columns: repeat(3, 60px);
    gap:12px;
    margin-top:10px;
}

.avatar-option{
    width:60px;
    height:60px;
    border-radius:50%;
    cursor:pointer;
    transition:0.2s;
}

.avatar-option:hover{
    transform:scale(1.1);
    border:2px solid #9b5cff;
}

@media (max-width: 768px) {

    .perfil-card {
        flex-direction: column;
        align-items: center;
        max-width: 95%;
    }

    .perfil-avatar {
        order: 1;
    }

    .perfil-info {
        order: 2;
        text-align: center;
        font-size: 13px;
    }

    .avatar-selector {
        order: 3;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        margin-top: 20px;
    }

    #cambiarNombreBox {
        text-align: center;
    }
}